[submodule "_vendors/Font-Awesome"]
	path = _vendors/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "_vendors/bootstrap"]
	path = _vendors/bootstrap
	url = https://github.com/twbs/bootstrap.git
